<div class="relative h-full flex flex-col overflow-y-auto">
  <div
    class="flex-grow overflow-y-auto mb-20 bg-gradient-to-b from-[#324B4F] to-white">
    <div class="flex flex-row items-center mt-[16px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-7 text-[#F9F9F9] ml-[23px] m-3 cursor-pointer"
        routerLink="/home">
        <path
          fill-rule="evenodd"
          d="M17 10a.75.75 0 0 1-.75.75H5.612l4.158 3.96a.75.75 0 1 1-1.04 1.08l-5.5-5.25a.75.75 0 0 1 0-1.08l5.5-5.25a.75.75 0 1 1 1.04 1.08L5.612 9.25H16.25A.75.75 0 0 1 17 10Z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <div
      class="w-[328px] h-[168px] overflow-hidden max-w-[328px] max-h-[168px] rounded-xl mx-auto">
      <img
        src="./assets/userProfile.png"
        alt="user-image"
        class="container -mt-10" />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-8 text-white sticky bottom-0 right-0 ml-[288px] cursor-pointer"
        routerLink="/profileView">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
      </svg>
    </div>
    <h1 class="text-white text-2xl mt-[35px] text-center">
      Alejandro Serrangeli
    </h1>
    <div class="h-[248px] w-80 rounded-2xl flex flex-col gap-[1px] mx-auto">
      <div
        class="bg-[#FEF7FF] h-[49px] rounded-t-2xl flex flex-row items-center gap-1 px-3.5">
        <p class="text-sm text-[#1D1B20]">Nombre:</p>
        <p class="text-sm text-[#282828] font-light">Alejandro</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 ml-[150px]">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </div>
      <div
        class="bg-[#FEF7FF] h-[49px] flex flex-row items-center gap-1 px-3.5">
        <p class="text-sm text-[#1D1B20]">Apellido:</p>
        <p class="text-sm text-[#282828] font-light">Serrangeli</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 ml-[146px]">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </div>
      <div
        class="bg-[#FEF7FF] h-[49px] flex flex-row items-center gap-1 px-3.5">
        <p class="text-sm text-[#1D1B20]">Fecha de nacimiento:</p>
        <p class="text-sm text-[#282828] font-light">22/03/1995</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 ml-[54px]">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </div>
      <div
        class="bg-[#FEF7FF] h-[49px] flex flex-row items-center gap-1 px-3.5">
        <p class="text-sm text-[#1D1B20]">Sexo:</p>
        <p class="text-sm text-[#282828] font-light">Masculino</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 ml-[164px]">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </div>
      <div
        class="bg-[#FEF7FF] h-[49px] rounded-b-2xl flex flex-row items-center gap-1 px-3.5">
        <p class="text-sm text-[#1D1B20]">Ubicación:</p>
        <p class="text-sm text-[#282828] font-light">La Plata, Buenos Aires</p>
        <div class="w-9 h-[22px] bg-[#324B4F] p-[3px] rounded-full">
          <div class="h-4 w-4 bg-[#A9EBF6] rounded-full ml-3.5 my-auto"></div>
        </div>
      </div>
    </div>
  </div>
  <app-navbar class="sticky bottom-0 left-0 right-0"></app-navbar>
</div>
