<div class="relative h-full flex flex-col overflow-y-auto">
  <div class="flex-grow overflow-y-auto mb-20">
    <div class="flex flex-row items-center mt-[19px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-7 ml-[23px] m-3 cursor-pointer"
        routerLink="/home">
        <path
          fill-rule="evenodd"
          d="M17 10a.75.75 0 0 1-.75.75H5.612l4.158 3.96a.75.75 0 1 1-1.04 1.08l-5.5-5.25a.75.75 0 0 1 0-1.08l5.5-5.25a.75.75 0 1 1 1.04 1.08L5.612 9.25H16.25A.75.75 0 0 1 17 10Z"
          clip-rule="evenodd" />
      </svg>

      <h1 class="font-semibold text-4xl ml-[54px] w-[158px]">Amigos</h1>
    </div>
    <div
      class="flex flex-row items-center gap-1 mt-8 h-[50px] max-w-[328px] mx-[4px] border border-[#616262] rounded-full px-2">
      <input
        type="text"
        placeholder="Buscar"
        class="text-[#616262] text-base tracking-wider p-4 w-full h-[56px] bg-[#F9F9F9] bg-opacity-[.64] rounded-lg" />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-10 bg-[#324B4F] text-white rounded-full p-2">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>
    </div>
    <div class="flex flex-col items-center gap-3.5 mt-[54px]">
      @for (friend of friendsList; track $index){
      <div class="h-[72px] w-[328px] flex flex-row items-center mb-4 px-[5px]">
        <div class="mr-[42px]">
          <img
            [src]="friend.image"
            [alt]="friend.name"
            class="container" />
        </div>
        <p class="font-light text-2xl">{{ friend.name }}</p>
      </div>
      }
    </div>
  </div>
  <app-navbar class="sticky bottom-0 left-0 right-0"></app-navbar>
</div>
