<div class="relative h-full flex flex-col overflow-y-auto">
  <div class="flex-grow overflow-y-auto mb-20">
    <div class="flex flex-row items-center mt-[19px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-7 ml-[23px] m-3 cursor-pointer"
        routerLink="/home">
        <path
          fill-rule="evenodd"
          d="M17 10a.75.75 0 0 1-.75.75H5.612l4.158 3.96a.75.75 0 1 1-1.04 1.08l-5.5-5.25a.75.75 0 0 1 0-1.08l5.5-5.25a.75.75 0 1 1 1.04 1.08L5.612 9.25H16.25A.75.75 0 0 1 17 10Z"
          clip-rule="evenodd" />
      </svg>

      <h1 class="font-semibold text-4xl ml-[45px] w-[158px]">Falta uno</h1>
    </div>
    <div class="flex flex-col items-center gap-3.5 mt-[55px] mb-4">
      @for (card of missingOneCards; track $index){
      <app-missing-one-card
        [data]="card"
        [routerLink]="card.id.toString()"></app-missing-one-card>
      }
    </div>
  </div>
  <app-navbar class="sticky bottom-0 left-0 right-0"></app-navbar>
</div>
