<div class="relative h-full flex flex-col overflow-y-auto">
  <div class="flex-grow overflow-y-auto mb-20">
    <div class="flex flex-row items-center mt-[19px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-7 ml-[23px] m-3 cursor-pointer"
        routerLink="/chat">
        <path
          fill-rule="evenodd"
          d="M17 10a.75.75 0 0 1-.75.75H5.612l4.158 3.96a.75.75 0 1 1-1.04 1.08l-5.5-5.25a.75.75 0 0 1 0-1.08l5.5-5.25a.75.75 0 1 1 1.04 1.08L5.612 9.25H16.25A.75.75 0 0 1 17 10Z"
          clip-rule="evenodd" />
      </svg>
      <div class="h-[50px] w-[50px] rounded-full ml-[45px]">
        <img
          [src]="chat?.image"
          [alt]="chat?.friend"
          class="container rounded-full" />
      </div>
      <h1 class="font-normal text-2xl ml-3.5">
        {{ chat?.friend }}
      </h1>
    </div>

    <div class="w-[328px] mx-auto flex flex-col gap-2">
      @for(message of messages; track $index){ @if(message.user){
      <p
        [class]="message.user ? 'bg-[#41957C] ml-[67px]' : 'bg-[#324B4F] mr-6'"
        class="text-[#F9F9F9] font-normal text-sm rounded-2xl py-[7px] px-[10px]">
        {{ message.text }}
      </p>

      } @else {
      <div class="flex flex-row gap-3 items-center">
        <div class="h-7 min-h-7 w-7 min-w-7">
          <img
            [src]="chat?.image"
            [alt]="chat?.friend"
            class="container h-7 min-h-7 w-7 min-w-7" />
        </div>
        <p
          [class]="
            message.user ? 'bg-[#41957C] ml-[67px]' : 'bg-[#324B4F] mr-6'
          "
          class="text-[#F9F9F9] font-normal text-sm rounded-2xl py-[7px] px-[10px]">
          {{ message.text }}
        </p>
      </div>

      } }
    </div>
  </div>
  <app-navbar class="sticky bottom-0 left-0 right-0"></app-navbar>
</div>
