<div class="relative h-full flex flex-col overflow-y-auto">
  <div class="flex-grow overflow-y-auto mb-20">
    <div class="flex flex-row items-center h-[88px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-7 ml-[23px] m-3 cursor-pointer"
        routerLink="/chat">
        <path
          fill-rule="evenodd"
          d="M17 10a.75.75 0 0 1-.75.75H5.612l4.158 3.96a.75.75 0 1 1-1.04 1.08l-5.5-5.25a.75.75 0 0 1 0-1.08l5.5-5.25a.75.75 0 1 1 1.04 1.08L5.612 9.25H16.25A.75.75 0 0 1 17 10Z"
          clip-rule="evenodd" />
      </svg>
      <div class="h-[50px] w-[50px] rounded-full ml-[45px]">
        <img
          [src]="chat?.image"
          [alt]="chat?.friend"
          class="container rounded-full max-h-[50px]" />
      </div>
      <h1 class="font-normal text-2xl ml-3.5">
        {{ chat?.friend }}
      </h1>
    </div>

    <div
      class="w-[328px] max-h-[400px] min-h-[400px] overflow-y-auto mx-auto flex flex-col gap-2 border-t border-b border-slate-800 py-2">
      @for(message of messages; track $index){ @if(message.user){
      <p
        [class]="message.user ? 'bg-[#41957C] ml-[67px]' : 'bg-[#324B4F] mr-6'"
        class="text-[#F9F9F9] font-normal text-sm rounded-2xl py-[7px] px-[10px]">
        {{ message.text }}
      </p>

      } @else {
      <div class="flex flex-row gap-3 items-center">
        <div class="h-7 min-h-7 w-7 min-w-7">
          <img
            [src]="chat?.image"
            [alt]="chat?.friend"
            class="container h-7 min-h-7 w-7 min-w-7" />
        </div>
        <p
          [class]="
            message.user ? 'bg-[#41957C] ml-[67px]' : 'bg-[#324B4F] mr-6'
          "
          class="text-[#F9F9F9] font-normal text-sm rounded-2xl py-[7px] px-[10px]">
          {{ message.text }}
        </p>
      </div>
      } }
      <p
        [hidden]="!chat?.viewed"
        class="text-[#716E6E] text-xs italic text-end mr-2">
        Visto
      </p>
      <p
        [hidden]="chat?.userMessages?.length && chat?.friendMessages?.length"
        class="text-[#393939] text-sm w-[250px] mx-auto mt-80 text-center bottom-0">
        Te postulaste con éxito! Hablale a tu nuevo compañero para coordinar
        detalles del partido.
      </p>
    </div>
    <div
      class="flex flex-row items-center gap-2 my-4 h-10 max-w-[328px] mx-auto rounded-full px-2">
      <input
        type="text"
        placeholder="Mensaje"
        class="text-[#393939] text-base tracking-wider p-2 w-full bg-[#B9DBE0] rounded-full border border-[#324B4F]" />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        class="size-10 bg-[#324B4F] text-white rounded-full p-2">
        <path
          d="M3.105 2.288a.75.75 0 0 0-.826.95l1.414 4.926A1.5 1.5 0 0 0 5.135 9.25h6.115a.75.75 0 0 1 0 1.5H5.135a1.5 1.5 0 0 0-1.442 1.086l-1.414 4.926a.75.75 0 0 0 .826.95 28.897 28.897 0 0 0 15.293-7.155.75.75 0 0 0 0-1.114A28.897 28.897 0 0 0 3.105 2.288Z" />
      </svg>
    </div>
  </div>
  <app-navbar class="sticky bottom-0 left-0 right-0"></app-navbar>
</div>
